* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    min-height: 100vh;
    padding: 1rem;
}

body h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}

.welcome {
    display: block;
    align-items: center;
}

.welcome input {
    width: 65%;
    border: 2px solid yellow;
    border-radius: 8px;
    padding: 8px;
    font-size: 1.5em;
    background-color: transparent;
    color: white;
    outline: none;
    margin-right: 1rem;
}

.welcome button {
    background-color: yellow;
    color: black;
    padding: 10px 5px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s all ease;
}

.welcome button:hover {
    transform: scale(1.1);
    background-color: transparent;
    color: yellow;
    border: 2px solid yellow;
    box-shadow: 2px 2px 40px yellow;
}

.game {
    display: none;
}

.greet {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.currHand {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.result {
    width: 20rem;
    border: none;
    background-color: rgb(14, 14, 14);
    margin: 1rem;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 2px 2px 12px rgb(75, 75, 75);
}

.emoji {
    font-size: 200px;
}

.counters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counters div {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.counters span {
    color: yellow;
    font-size: 1.5rem;
}

.userInputButtons {
    background-color: rgb(14, 14, 14);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 2px 2px 12px grey;
}

.InputEmoji {
    font-size: 5rem;
    margin: 1rem 1.5rem;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.InputEmoji:hover {
    transform: scale(1.2);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.btn {
    margin-top: 2rem;
    background-color: yellow;
    font-size: 2rem;
    padding: 10px;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
    body h1 {
        font-size: 2rem;
    }

    .greet {
        font-size: 1rem;
    }

    .currHand {
        flex-direction: column;
    }

    .emoji {
        font-size: 100px;
    }

    /* .counters span {
        font-size: 1rem;
    } */

    .InputEmoji {
        font-size: 3rem;
    }

    .btn {
        margin-top: 1rem;
        font-size: 2rem;
    }

}

@media (max-width: 480px) {
    body h1 {
        font-size: 1.5rem;
    }

    .result {
        padding: 10px;
    }

    .emoji {
        font-size: 70px;
    }

    .btn {
        font-size: 1rem;
    }
}